.checked {
  color: #00f;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

#my-todo label:hover {
  cursor: pointer;
  font-size: 1.1em;
  color: red;
}

#my-done label:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.fa-briefcase {
  font-size: 1em;
  margin-left: 1vw;
  color: red;
}

.fa-briefcase:hover {
  transform: rotate(10deg)
}

.fa-thumbs-up {
  font-size: 1em;
  margin-left: 1vw;
  color: blue;
}

.fa-thumbs-up:hover {
  transform: scale(1.1)
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #FFE6FF;
  cursor: default;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

content {
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
  border-radius: 15px;
  box-shadow: 5px 5px #d0d0d0;
  background: white;
  max-width: 90vw;
}

.fa-trash {
  color: grey;
  cursor: pointer;
}

todo {
  background: #e5e5e5;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  width: 30vw;
  border: 2px solid #FF7575
}

done {
  background: #e5e5e5;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  width: 30vw;
  border: 2px solid #6A6AFF;
}

#addBtn {
  border-radius: 20px;
}

.wrong-typing {
  border: 2px solid red;
}

#newTodo {
  width: 14vw;
}